<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
     CADASTRAR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
  <img class="image1" src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI="/>
  <div>
  <p class="texto1">
    FAZER CADASTRO COMO
  </p>
  </div>
  <ion-button class="button2" expand=block href="responsavel" >RESPONSÁVEL</ion-button>
  <ion-button class="button2" expand=block href="profissional" >PROFISSIONAL DA EDUCAÇÃO</ion-button>
  <ion-button class="button2" expand=block href="profissional" >PROFISSIONAL DA SAÚDE</ion-button>
</div>
</ion-content>