<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      <h3>SOCIAL</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="padding">
  <ion-header>
      <ion-toolbar>
      <p size="large"><strong>Instagram:</strong></p>
      <p size="large">&#64;professor_henrique</p>
      <p size="large">&#64;teamomaesautistas</p>
    </ion-toolbar>
  </ion-header>
  </div>
</ion-content>


