<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">SOBRE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group [multiple]="true">
    <ion-accordion value="1">
      <ion-item slot="header">
        <ion-label>Definição Básica</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p><strong>O que é:</strong> Transtorno do Espectro Autista (TEA) é uma condição de desenvolvimento neurológico que afeta a comunicação, comportamento e interação social.</p>
        <p><strong>Espectro:</strong> Varia de leve a severo, com características e necessidades diferentes para cada pessoa.</p>
      </div>
    </ion-accordion>
  
    <ion-accordion value="2">
      <ion-item slot="header">
        <ion-label>Principais Características</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p><strong>Déficits na comunicação:</strong> Dificuldade para iniciar ou manter conversas, uso incomum de linguagem (repetições, tom monótono, perda do foco, esquecer/perder objetos).</p>
        <p><strong>Comportamentos Repetitivos:</strong> Movimentos repetitivos (balançar as mãos, girar objetos), rotinas rígidas e resistência à mudanças.</p>
        <p><strong>Interesses Restritos:</strong> Foco intenso em temas específicos (número, datas, tópicos únicos).</p>
        <p><strong>Dificuldade na Interação Social:</strong> Problemas para entender expressões faciais ou tom de voz, pouco interesse em interagir com outras pessoas.</p>
      </div>
    </ion-accordion>
  
    <ion-accordion value="3">
      <ion-item slot="header">
        <ion-label>Causas</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p><strong>Genética:</strong> Fatores hereditários e mutações genéticas.</p>
        <p><strong>Ambiente:</strong> Exposição a certos fatores ambientais durante a gravidez.</p>
        <p><strong>Não é causado por vacinas:</strong> Este mito já foi amplamente desmentido pela ciência.</p>
      </div>
    </ion-accordion>
  
    <ion-accordion value="4">
      <ion-item slot="header">
        <ion-label>Diagnóstico</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p><strong>Profissionais Envolvidos:</strong> Psiquiatras, psicólogos e neuropediatras.</p>
        <p><strong>Idade Média:</strong> Pode ser diagnosticado a partir dos 2 anos, mas pode ocorrer mais tarde.</p>
        <p><strong>Critérios:</strong> Avaliações baseadas no Manual Diagnóstico e Estatístico de Transtornos Mentais (DSM-5).</p>
      </div>
    </ion-accordion>
  
    <ion-accordion value="5">
      <ion-item slot="header">
        <ion-label>Tratamento e Terapias</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p><strong>SEM CURA, mas com Manejo Eficaz!!!</strong></p>
        <p><strong>ABA (Análise do Comportamento Aplicada):</strong> Terapia comportamental.</p>
        <p><strong>Fonoaudiologia:</strong> Melhora comunicação verbal e não-verbal.</p>
        <p><strong>Terapia Ocupacional:</strong> Desenvolve habilidades motoras e vida diária.</p>
        <p><strong>Medicação:</strong> Para sintomas como ansiedade, irritabilidade ou hiperatividade.</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>  
</ion-content>