<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
       <p class="texto4">
    ENTRAR COMO:
  </p>
    <div class="centralizado">

    <ion-button class="button4" fill="outline" expand=block href="login" >PROFISSIONAL DA SAÚDE</ion-button>
    <ion-button class="button4" fill="outline" expand=block href="login" >MONITORA\PEDAGOGA</ion-button>
    <ion-button class="button4" fill="outline" expand=block href="login" >RESPONSÁVEL</ion-button>
  </div>
</ion-content>