.toolbar2{       /*Usado para definir a cor da barra superior*/
    --ion-toolbar-background: #0094FF;
    --ion-toolbar-color: white;
}
.button{
    height: auto;
    color: #898989;
    text-align: center;
    --background: #D9EBFC;
}
.texto{
    text-align:center;
    margin: 20px;
    color:#8A8A8A;
    padding-bottom: 15px;
    padding-top: 20px;
}