<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            DESENVOLVEDORES
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-accordion-group [multiple]="true">
        <ion-accordion value="1">
            <ion-item slot="header">
                <ion-label>Desenvolvedores Pioneiros</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                <p>Mirela Boavista Pacheco</p>
                <p>Vitória Sindin Xavier</p>
            </div>
        </ion-accordion>

        <ion-accordion value="2">
            <ion-item slot="header">
                <ion-label>Desenvolvedores Atuais</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                <p>Mariélen da Silva Lopes</p>
                <p>Natanel Farias Lucena</p>
                <p>Robert de Castro Silveira</p>

            </div>
        </ion-accordion>

        <ion-accordion value="3">
            <ion-item slot="header">
                <ion-label>Associação parceira</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                <p>TEA'amo: Associação formada por mães e avós atípicas, buscando a união para melhorar a qualidade de vida de todos os Autistas.</p>
                <p>Mantenedora: Fátima Rocha da Silva</p>
            </div>
        </ion-accordion>

        <ion-accordion value="4">
            <ion-item slot="header">
                <ion-label>Orientador</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                <p>José Henrique Lopes da Silva</p>
            </div>
        </ion-accordion>
        <div class="fixed-footer">
            <p>CopyRight</p>
            <p>Escola Estadual de Ensino Médio</p>
            <p>Brigadeiro José da Silva Paes</p>
        </div>
    </ion-accordion-group>
</ion-content>