<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
    SÍMBOLOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group [multiple]="true">

    <ion-accordion value="1">
      <ion-item slot="header">
        <ion-label>Laço</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="ribbon-container">
          <img src="assets/img/laço.png" alt="logo tea" />
        </div>
        <h6>DETALHES SOBRE O LAÇO DO AUTISMO</h6>
        <h5>COR:</h5>
        <p>O laço usado para representar o autismo é comumente colorido, especialmente em multicolorido (normalmente em forma de quebra-cabeça), com o objetivo de simbolizar a diversidade do espectro autista, já que o autismo é uma condição que pode se manifestar de diferentes formas e intensidades em cada pessoa.</p>
        <h5>SIGNIFICADO:</h5>
        <p>Quebra-Cabeça: O laço é frequentemente ilustrado com peças de quebra-cabeça, que representam a complexidade do autismo. As peças de quebra-cabeça refletem as diferentes características e necessidades das pessoas com autismo.</p>
        <h5>CONSCIENTIZAÇÃO E INCLUSÃO:</h5>
        <p>O laço do autismo também tem o objetivo de aumentar a conscientização sobre o transtorno, promovendo um ambiente mais inclusivo e acolhedor para as pessoas com TEA.</p>
        <h5>DIVERSIDADE:</h5>
        <p>As cores vibrantes do laço simbolizam a diversidade das pessoas com autismo, que, apesar de terem características em comum, apresentam diferentes formas de manifestação e vivências.</p>
      </div>
    </ion-accordion>
  
    <ion-accordion value="2">
      <ion-item slot="header">
        <ion-label>Quebra-Cabeça</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="ribbon-container">
          <img src="assets/img/cabeça.png" alt="logo tea" />
        </div>
        <h6>SIGNIFICADO DO QUEBRA-CABEÇA NO AUTISMO</h6>
        <h5>COMPLEXIDADE DO AUTISMO:</h5>
        <p>As peças de quebra-cabeça simbolizam a complexidade do transtorno. O autismo é uma condição diversa e multifacetada, com características que variam de pessoa para pessoa. O quebra-cabeça representa essa diversidade de experiências e como cada pessoa com TEA pode ser única em seu modo de se comunicar, interagir e perceber o mundo.</p>
        <h5>DIVERSIDADE:</h5>
        <p>O quebra-cabeça com várias peças é frequentemente associado à ideia de que o autismo não é uma condição homogênea. Cada peça do quebra-cabeça pode representar uma parte diferente de uma pessoa com autismo, como suas habilidades sociais, sensoriais ou de comunicação. O autismo é uma jornada única para cada indivíduo.</p>
        <h5>QUEBRA-CABEÇA INCOMPLETO:</h5>
        <p>Muitas representações do símbolo do autismo apresentam um quebra-cabeça incompleto ou uma peça faltando. Isso pode simbolizar a dificuldade de compreensão ou a falta de respostas definitivas em relação ao autismo. O quebra-cabeça incompleto sugere que ainda há muito a ser descoberto sobre o TEA, e que é um campo de constante estudo e evolução.</p>
        <h5>INCLUSÃO E ACEITAÇÃO:</h5>
        <p>O quebra-cabeça também simboliza a ideia de conectar partes de uma realidade mais ampla. A metáfora do quebra-cabeça incompleto pode sugerir que, para entender e apoiar as pessoas com autismo, a sociedade precisa se esforçar para "completar" o quadro, ou seja, ser mais inclusiva, compreensiva e acolhedora. Cada peça do quebra-cabeça representa um esforço para construir uma sociedade mais inclusiva e apoiar as necessidades das pessoas com TEA.</p>
        <h5>DIA MUNDIAL DE CONSCIENTIZAÇÃO SOBRE O AUTISMO:</h5>
        <p>Assim como o laço colorido, o símbolo do quebra-cabeça também é associado ao Dia Mundial de Conscientização sobre o Autismo (2 de abril). Durante este dia, o símbolo do quebra-cabeça é amplamente utilizado para promover a conscientização, a aceitação e o entendimento do autismo em todo o mundo.</p>
      </div>
    </ion-accordion>
  
    <ion-accordion value="3">
      <ion-item slot="header">
        <ion-label>Infinito</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="ribbon-container">
          <img src="assets/img/th.png" alt="logo tea" />
        </div>
        <h6>SIGNIFICADO DO SÍMBOLO DO INFINITO NO AUTISMO</h6>
        <h5>DIVERSIDADE E COMPLEXIDADE:</h5>
        <p>O símbolo do infinito (∞) é associado à ideia de que o autismo é diverso e multifacetado. Cada pessoa com autismo é única e pode apresentar uma combinação diferente de características. Isso significa que o espectro é infinito em termos de manifestações e experiências de cada indivíduo.</p>
        <h5>ACEITAÇÃO E INCLUSÃO:</h5>
        <p>O símbolo do infinito também carrega uma mensagem de aceitação e inclusão. Ele reflete a ideia de que as pessoas com autismo têm valor infinito e merecem um espaço no mundo, independentemente das suas diferenças. É uma forma de dizer que o autismo é parte integrante de uma pessoa, mas isso não define a pessoa como um todo — ela é muito mais do que isso.</p>
        <h5>CONTINUIDADE:</h5>
        <p>A linha contínua do símbolo do infinito sugere que as experiências de uma pessoa com autismo não são limitadas ou temporárias. Elas podem evoluir ao longo da vida, com o desenvolvimento de novas habilidades, estratégias de adaptação e formas de comunicação. O símbolo também pode representar a longa jornada de aprendizado e apoio que muitas pessoas com autismo e suas famílias enfrentam.</p>
        <h5>COMEMORAÇÕES E CAMPANHAS:</h5>
        <p>O símbolo do infinito é frequentemente usado em campanhas de conscientização sobre o autismo, como o Dia Mundial de Conscientização sobre o Autismo (2 de abril). Ele é parte do movimento para aumentar a compreensão sobre as múltiplas formas de autismo e promover um mundo mais inclusivo.</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>  
</ion-content>